<?xml version="1.0"?>

<!--
/**
 * @author Logicrays Team
 * @copyright Copyright (c) 2021 Logicrays (https://www.logicrays.com/)
 * @package Logicrays_EmailFilter
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="standard">
    <route id="emailfilter" frontName="emailfilter">
      <module name="Logicrays_EmailFilter"/>
    </route>
  </router>
</config>