<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="trade_in" frontName="trade-in">
            <module name="Pivotal_TradeIn"/>
        </route>
    </router>
</config>
