<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
     <menu>
          <add id="Logicrays_Hello::hello" title="Hello" translate="title" module="Logicrays_Hello" sortOrder="40" resource="Logicrays_Hello::hello"/>
          <!-- <add id="Pivotal_TradeInPricing::trade_in" title="Trade-In" module="Pivotal_TradeInPricing" sortOrder="40" parent="Pivotal_TradeInPricing::pivotal" resource="Pivotal_TradeInPricing::trade_in"/>
          <add id="Pivotal_TradeInPricing::pricing_list" title="Pricing" module="Pivotal_TradeInPricing" sortOrder="30" parent="Pivotal_TradeInPricing::trade_in" action="tradeinpricing/tradeinpricing/index" resource="Pivotal_TradeInPricing::pricing_list"/> -->
          <add id="Logicrays_Hello::hello1" title="hello1" module="Logicrays_Hello" sortOrder="30" parent="Logicrays_Hello::hello" action="hello/hello/index" resource="Logicrays_Hello::hello1"/>
     </menu>
</config>