<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pivotal_TradeInPricing::pivotal" title="Pivotal" sortOrder="90">
                    <resource id="Pivotal_TradeInPricing::trade_in" title="Trade-In" translate="title" sortOrder="10" >
                        <resource id="Pivotal_TradeInPricing::pricing_list" title="Pricing" translate="title" sortOrder="10" >
                            <resource id="Pivotal_TradeInPricing::addform" title="Add Form" translate="title" sortOrder="10" />
                            <resource id="Pivotal_TradeInPricing::editform" title="Edit Form" translate="title" sortOrder="20" />
                            <resource id="Pivotal_TradeInPricing::masschangestatus" title="Mass Change Status" translate="title" sortOrder="30" />
                            <resource id="Pivotal_TradeInPricing::massdelete" title="Mass Delete" translate="title" sortOrder="40" />
                            <resource id="Pivotal_TradeInPricing::inlineedit" title="Inline Edit" translate="title" sortOrder="50" />
                            <resource id="Pivotal_TradeInPricing::save" title="Save" translate="title" sortOrder="60" />
                        </resource>
                        <resource id="Pivotal_TradeInPricing::trades" title="Trades" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>